
@media screen and (max-width: 899px)
{	
	.container 
	{
		width:auto;
	}

	.header-wrapper
	{
		justify-content: space-around;
	}

	.header-nav ul
	{
		padding-left: 0;
	}

	.header-nav a
	{
		padding:5px;
		font-size: 18px;
	}

	.main-offers-wrapper:after,
	.main-image-gear,
	.main-image-book,
	.main-image-microScheme,
	.main-image-checkEngine
	{
		display:none;
	}

	.main-header-wrapper
	{
		padding-bottom: 100px;
	}

	.m-preview,
	.main-header-wrapper h1
	{
		width:100%;
	}

	.m-software
	{
		display: block;
		width: 100%;

	}
	
	.main-software-wrapper h2
	{
		line-height: 26px;
		text-align: center;
	}

	.m-software p
	{
		width:100%;
		margin:0 auto;
	}
	
	.software-slider
	{
		padding-top:60px;
		width:35%;
	}

	.slider-image-wrapper
	{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	
	.s-image
	{
    	width:310%;
    	height: 310%;
    	pointer-events: none;
	}

	.right-click
	{
		width: 30px;
		/*height: :60px;*/
		top:15px;
		left:260%;
	}

	.left-click
	{
		top:15px;
	}
	
	.main-image-book,
	.main-offers-wrapper:after
	{
		display: none;
	}

	.main-offersList-wrapper li:before
	{
		left:-30px;
	}

	.main-offers-wrapper a
	{
		margin-left:0;
		margin-top:15px;
		width:100%;
	}
	
	.main-offers-wrapper ul,
	.first p,
	.second p,
	.third p,
	.four p
	{
		display: block;
		margin:0 auto;
		width:100%;
	}
	
	.main-offers-wrapper ul
	{
		width:85%;
	}

	.main-offers-wrapper h2,
	.first h3,
	.second h3,
	.third h3,
	.four h3
	{
		text-align: center;
		line-height: 26px;
	}

	.first ul
	{
		margin:0 auto;
		margin-top:30px;
		padding-left:0;
	}

	.main-contacts-wrapper
	{
		text-align: justify;
	}
	
	.background-car
	{
		background-position-y: -120px;
    	background-position-x: -210px;
    	background-size: 230%;
    	height: 250px;
	}

	.main-contacts-wrapper ul
	{
		padding-left:0;
	}
	
	.main-contacts-wrapper a
	{
		width:100%;
	}

	.footer-first-row
	{
		display: block;
	}

	.footer-logo
	{
		display: none;
	}

	.big-images img
	{
		width: 55%;
    	height: auto;
    	margin-left: 45%;
	}

}